
.page-footer {
	width: 100%;
	padding: $spacing-half 0;
	background: $blackboard-grey;
	border-top: 1px solid $line-colour-1;
	min-height: 0;
	color: $white;
}

@media only screen and (min-width : $breakpoint-3){


}