

.button-group {
	width: 100%;
	max-width: $breakpoint-2;

	.button {
		display: inline-block;
		margin: 0 0 $spacing-full 0;
	}

	&.button-group--left {
		text-align: left;

		.button {
			margin: 0 $spacing-half $spacing-full 0;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&.button-group--centre {
		text-align: center;

		.button {
			margin: 0 $spacing-half $spacing-full 0;
		}

	}

	&.button-group--right {
		text-align: right;

		.button {
			margin: 0 0 $spacing-full $spacing-half;

			&:first-child {
				margin-left: 0;
			}
		}
	}

	&.button-group--fullwidth {
		display: flex;

		.button {
			flex: 1 1 100%;
			margin: 0 0 $spacing-full 0;

			&:first-child {
				margin-right: $spacing-half;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}
