.logo {
    display: block;
    margin: 0;

    .logo_text {
        display: block;
        position: absolute;
        left: -9999px;
        top: -9999px;
        height: 0;
        overflow: hidden;
    }

    &.logo--white {

        svg {
            fill: $white;

            path {
                fill: $white;
            }
        }
    }

    &.logo--green {

        svg {
            fill: $zest-green;

            path {
                fill: $zest-green;
            }
        }
    }

    &.logo--black {

        svg {
            fill: $blackboard-grey;

            path {
                fill: $blackboard-grey;
            }
        }
    }
    
}

@media only screen and (min-width : $breakpoint-3){

    .logo {
        width: $dimension-quadruple;
        margin: 0;
    }
}