
.h1  {
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
	margin: 0;
	padding: 1em 0 .5em 0;
	font-weight: 400;
	line-height: 1.15;
	font-family: $font-family-heading;
	color: $text-colour-1; 
	margin-top: 0;
	font-size: $_18px;
	letter-spacing: .2rem;
	text-transform: uppercase;

	&:first-child {
		margin-top: 0;
	}

	&.h1--centred {
		text-align: center;
	}

	&.h1--right {
		text-align: right;
	}

	&.h1--stacked {
		
		span {
			display: block;
			font-size: .8em;
			padding-bottom: $spacing-quarter;
		}
	}
}

@media only screen and (min-width : $breakpoint-3){

	.h1  {

	}
}

@media only screen and (min-width : $breakpoint-4){

	.h1  {

	}
}