
.login-form {
    background: $white;
    min-height: 70vh;
    padding: $spacing-double $spacing-full $spacing-full $spacing-full;
    margin: 0 auto;
    max-width: $breakpoint-2;

    .logo {
        margin: 0 auto $spacing-double auto;
    }

    .login-form_fieldset {
        border: none;
        padding: 0 0 $spacing-full;

        .legend {
            line-height: 1.15;
            font-family: $font-family-heading;
            color: $text-colour-1; 
            font-size: $_20px;
        }

        .text-input {

            .label {
                display: none;
            }
        }
    }
}

@media only screen and (min-width : $breakpoint-3){

    .login-form {
        padding: $spacing-double $spacing-quadruple;
    
        .login-form_fieldset {
            border: none;
            padding: 0 0 $spacing-full;
    
            .legend {
                font-size: $_24px;
            }
    
        }
    }
}

