
.t1 {
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
	margin: 0;
	padding: 1em 0 .5em 0;
	font-weight: 400;
	line-height: 1.5;
	font-size: $_16px;
	font-family: $font-family-regular;

	&:first-child {
		margin-top: 0;
	}

	&.message--success {
		color: $message-colour-success;
	}

	&.message--information {
		color: $message-colour-information;
	}

	&.message--warning {
		color: $message-colour-warning;
	}

	&.message--error {
		color: $message-colour-error;
	}
}

@media only screen and (min-width : $breakpoint-4){

	.t1 {

	}
}